#Options -Indexes
RewriteEngine On

Options All -Indexes

 RewriteCond %{HTTP:Authorization} ^(.*)
 RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]
 RewriteCond %{SERVER_PORT} 80
 RewriteCond %{HTTPS} off 
 RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]


RewriteCond %{HTTP_HOST} ^[^.]+\.[^.]+$
RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [L,R=301]

# Admin

    RewriteRule ^/?$ pages/cardapio.php [L]

    RewriteRule ^login/?$ pages/login.php [NC]

    RewriteRule ^cadastrar/?$ pages/cadastrar-produto.php [NC]

    RewriteRule ^admin/?$ pages/admin.php [NC]

