@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: rgb(163, 41, 41);
    font-family: "Poppins", sans-serif;
}


#linha-1{
    color: black;
}

.logo {
    width: 100%;
    object-fit: cover;
}

img {
    width: 250px;
}

.container {
    background-color: rgb(26, 24, 24);
    gap: 3px;
    flex-direction: column;
    width: 390px;
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid red;

}

hr {
    color: white;
}

input, select, textarea {
    border: none;
    outline: none;
    border-radius: 3px;
    justify-content: center;
}

form {
    color: white;
}

#file {
    color: white;
}

.btn {
    width: 14rem;
}

label {
    color: white !important;
}

h3 {
    color: white;
}

.nav-link {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}






