@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: rgb(163, 41, 41);
    font-family: "Poppins", sans-serif;
    color: white;
}


#linha-1{
    color: black !important;
}

#imagem {
    width: 250px;
}

img {
    width: 50px;
}

#lanche {
    width: 92px;
    height: 92px;
    border: 1px solid black;
    border-radius: 50%;
    object-fit: cover;
}

.card  {
    color: white;
    background-color: rgba(48, 35, 35, 0.552);
    padding: 8px 15px;
    border-radius: 10px;
    transition: 0.5s;
    box-shadow: 0 0.46875rem 2.1875rem rgb(4 9 20 / 3%), 0 0.9375rem 1.40625rem rgb(4 9 20 / 3%), 0 0.25rem 0.53125rem rgb(4 9 20 / 5%), 0 0.125rem 0.1875rem rgb(4 9 20 / 3%);
    border: 2px solid rgba(0, 0, 0, .125);
    border-width: 0;
    transition: background-color 0.3s ease;
    border-left: 4px solid transparent;
    width: 57%;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;


    display: flex !important;
    flex-direction: row;
    align-items: center !important;
    justify-content: space-between;
}

.card:hover {
    background-color: rgb(94, 20, 20);
    border-left: 4px solid red;
}

.label-editar {
    color: black !important;
    margin-top: 20px;
}

#switch{
    color: white !important
}

button {
    width: 50px;

}

#botao-fechar, #botao-salvar, #botao-editar{
    width: 85px;
}

.card p {
    margin: 0;
    max-width: 472px;
}

.descricao-produto{
    max-width: 500px;
    width: 500px;
}

#imagem-produto-editar{

    width: 110px;
    border-radius: 8px;
    border: solid 2px black;
    margin-bottom: 20px;

}